body {
  	min-width: 680px;	
  	background-color:#FFECEC;
}
#container{
	width:670px;margin:0 auto;margin-top:25px;text-align:left;
}
#headcontainer{
	width:670px;height:55px;margin:0 atuo;
}
#headcontainer img{
	width:50px;height:50px;
}
#headcontainer h2{
	font-size:25px;color:#1669a6;margin-top:10px;position:absolute;
}
#headcontainer h4{
	font-size:16px;color:#1669a6;margin-top:38px;font:Verdana, Helvetica, sans-serif;position:absolute;
}
#mainbody{
	background-color:grey;margin-top:10px;height:100px;
}
#operate{
	height:200px;position:relative;width:670px;
}
#operate p{
	font-size:18px;text-align:center;margin:10px auto 0 auto;position:relative;color:#666666;
}
#operate .inuid{
	height:20px;position:absolute;margin-top:5px;margin-left:10px;width:500px;
}
#operate .inbutton{
	background:url(../images/smallBlueButton.gif);
	opacity:1;
	border:none;
	width:44px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:15px;
	/*position:relative;*/
	margin-top:2px;
	margin-left:515px;
	vertical-align:middle;
	text-align:center;
}
#operate .inbuttonover{
	background:url(../images/smallOrangeButton.gif);
	opacity:1;
	border:none;
	width:44px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:15px;
	/*position:relative;*/
	margin-top:2px;
	margin-left:515px;
	vertical-align:middle;
	text-align:center;
}
#operate .import{
	background:url(../images/blueButton.png);
	opacity:1;
	border:none;
	width:95px;
	height:28px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:15px;
	margin-top:10px;
	margin-left:220px;
}
#operate .importOver{
	background:url(../images/orangeButton.png);
	opacity:1;
	border:none;
	width:95px;
	height:28px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:15px;
	margin-top:10px;
	margin-left:220px;
}
#operate img{
	position:absolute;margin-top:68px;margin-left:400px;
}
#operate a{
	position:absolute;margin-top:70px;margin-left:465px;color:#000;font-size:15px;text-decoration: none;
}
#operate a:hover{
	color:red;text-decoration:underline;
}
.jd{
	visibility:hidden;position:absolute;z-index:1;
}
