*{
	margin:0;padding:0;
}
body{
	font:"ו";
}
body{
	text-align:center;min-width:980px;background-color:white;
}
#container{
	width:98%;margin:0 auto;text-align:left;background-color:white;
}
#tophead{
	float:left;width:100%;margin:0 0;height:100px;
}
#leftcontent{
	float:left;width:12%;margin-top:3px;margin-left:1%;
}
#maincontent{
	float:right;width:86%;margin-top:3px;margin-right:1%;
}
